{% block title %} 검색 페이지 {% endblock %}

{% block content %}
<div id="content">
    <h1>Info Search Engine</h1>

    <form action="." method="POST">
        {% csrf_token %}
        {{ form.as_table }}
        <input type="text" name="search_word" value="{{ search_keyword }}">
        <input type="submit" value="Search" />
    </form>

    <br/><br/>
    
    {% if search_list %}
        {% for info in search_list %}
            <h2>{{ info.name }}</h2>
            {{ info.modifyDate|date:"Y-m-d" }}
            <p>{{ info.description }}</p>
        {% endfor %}
    {% elif search_keyword %}
        [{{ search_keyword }}]의 검색 결과가 없습니다.
    {% endif %}
</div>
{% endblock %}
